<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TITLEREPLACE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!-- Required Stylesheets -->
    <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
    />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
</head>
<body>
    <div id="app">
        <b-form inline>
            <b-input-group prepend="Filtre" class="mt-3 col-8">
                <b-form-input type="search" autofocus="true" autocomplete="off" placeholder="Introduisez ici votre filtre de recherche!" debounce="200" v-model="contentFilterInput" @update="refreshTable"></b-form-input>
            </b-input-group>
            <b-input-group prepend="Limite" class="mt-3 col-2">
                <b-form-input id="itemLimitBox" type="number" autocomplete="off" debounce="200" placeholder="Limite d'enregistrements" v-model="itemLimit" @update="refreshTable"></b-form-input>
            </b-input-group>
            <b-input-group prepend="Enr./Page" class="mt-3 col-2">
                <b-form-input id="perPageBox" type="number" autocomplete="off" debounce="200" placeholder="Enregistrements par page" v-model="perPage" @update="refreshTable"></b-form-input>
            </b-input-group>
        </b-form>
        <div v-if="rows > itemLimit" class="text-danger mt-3 col-12">Nombre d'enregistrements: {{ rows }} - au dessus de {{ itemLimit }} résultats, rien n'est affiché pour des raisons de performance</div>
        <div v-else class="text-success mt-3 col-12" >Nombre d'enregistrements: {{ rows }}</div>
        <div v-show="rows <= itemLimit ">
            <b-table id="lookupTable" :items="items" :fields="fields" :sort-by.sync="sortBy"
                     :sort-desc.sync="sortDesc" :per-page="perPage" :current-page="currentPage"
                     bordered striped hover ></b-table>
            <div v-show="rows > perPage">
                <div class="mt-1">
                    <b-pagination v-model="currentPage" pills :total-rows="rows" :per-page="perPage" :limit="pageLimit" aria-controls="lookupTable" first-number last-number size="lg"></b-pagination>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.app = new Vue({
            el: '#app',
            data() {
                return {
                    rows: 0,
                    pageLimit: 3,
                    perPage: 15,
                    itemLimit: 301,
                    currentPage: 1,
                    contentFilterInput: "",
                    normalizedSearchArray: "",
                    sortBy: 'SORTBYFIELDREPLACE',
                    sortDesc: false,
                    fields: FIELDSJSONREPLACE,
                    items: [],
                    itemTable: ITEMSJSONREPLACE,
                    filteredItems: []
                }
            },
            mounted() {
                this.rows = this.itemTable.length;
            },
            methods: {
                refreshTable() {
                    if (!this.contentFilterInput) {
                        this.emptySearchString();
                    } else {
                        this.nonEmptySearchString();
                    }
                },
                emptySearchString() {
                    if (this.itemTable.length > this.itemLimit) {
                        this.items = [];
                    } else {
                        this.items = this.itemTable;
                    }
                    this.rows = this.itemTable.length;
                    this.currentPage = 1;
                },
                nonEmptySearchString() {
                    // remove accented characters
                    let normalizedSearchTerm = this.contentFilterInput.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
                    this.normalizedSearchArray = normalizedSearchTerm.split(" ");

                    let filteredItems = this.itemTable.filter(this.textMatch);
                    if (filteredItems.length > this.itemLimit) {
                        this.items = [];
                    } else {
                        this.items = filteredItems;
                    }
                    this.rows = filteredItems.length;
                },
                textMatch(item) {
                    let itemText = item.normalized_search_column + "";
                    let match = true;
                    this.normalizedSearchArray.forEach(searchTerm => match = match && (itemText.indexOf(searchTerm) !== -1));
                    return match;
                }
            }
        });
    </script>
</body>
</html>