<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Recherche dans le tableau des indépendants</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!-- Required Stylesheets -->
    <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>
<body>
    <div id="app">
        <b-form-input class="col-12" type="search" autocomplete="off" placeholder="Introduisez ici votre filtre de recherche!" @input="filterChange"></b-form-input>
        <div v-if="rows > itemLimit" class="text-danger">
            <p class="mt-3" >Nombre d'enregistrements: {{ rows }} - au dessus de {{ itemLimit }} résultats, rien n'est affiché pour des raisons de performance</p>
        </div>
        <div v-else class="text-success">
            <p class="mt-3">Nombre d'enregistrements: {{ rows }}</p>
        </div>
        <div v-show="rows <= itemLimit ">
            <b-table id="lookupTable" :items="items" :fields="fields" :sort-by.sync="sortBy"
                     :sort-desc.sync="sortDesc" :per-page="perPage" :current-page="currentPage"
                     bordered striped hover ></b-table>
            <div v-show="rows > perPage">
                <div class="mt-1">
                    <b-pagination v-model="currentPage" pills :total-rows="rows" :per-page="perPage" :limit="pageLimit" aria-controls="lookupTable" first-number last-number size="lg"></b-pagination>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.app = new Vue({
            el: '#app',
            data() {
                return {
                    rows: 0,
                    pageLimit: 3,
                    perPage: 15,
                    itemLimit: 301,
                    currentPage: 1,
                    contentFilterInput: null,
                    sortBy: 'age',
                    sortDesc: false,
                    fields: FIELDSJSONREPLACE,
                    items: [],
                    itemTable: ITEMSJSONREPLACE,
                    filteredItems: []
                }
            },
            mounted() {
                this.rows = this.itemTable.length;
            },
            beforeDestroy() {
                clearTimeout(this.$_debounceTimer)
            },
            methods: {
                filterChange(search) {
                    clearTimeout(this.$_debounceTimer)
                    this.$_debounceTimer = setTimeout(() => {
                        this.contentFilterInput = search;
                        this.filterList();
                    }, 100)
                },
                filterList() {
                    this.filteredItems =  this.itemTable.filter(this.textMatch);
                    this.rows = this.filteredItems.length;
                    if (this.rows <= this.itemLimit) {
                        this.items = this.filteredItems;
                        this.currentPage = 1;
                    } else {
                        this.items = [];
                        this.currentPage = 1;
                    }
                },
                textMatch(item) {
                    var searchTerm = this.contentFilterInput.toLowerCase(),
                        itemText = (item.matricule + item.denomination + "").toLowerCase();
                    // remove accented characters
                    searchTerm = searchTerm.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
                    itemText = itemText.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
                    return itemText.indexOf(searchTerm) !== -1;
                }
            }
        });
    </script>
</body>
</html>